* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-dark-cyan: hsl(185, 75%, 39%);
    --primary-very-dark-desaturated-blu: hsl(229, 23%, 23%);
    --primary-dark-grayish-blue: hsl(227, 10%, 46%);
    

    --neutral-dark-gray: hsl(0, 0%, 59%);    
    --neutral-white: hsl(0,0%,100%);
    --neutral-link: hsl(228, 45%, 44%);

    --font-family-default: 'Kumbh Sans', sans-serif;

    --font-size-default: 1.125rem; 
}

body {
    background-color: var(--primary-dark-cyan);
    background-image: url('./images/bg-pattern-top.svg'),url('./images/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-position: 1% 800%, 110% -600%;
    display: grid;
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    min-height: 100vh;
    text-align: center;
    place-content: center;    
}

.container {
    background-color: var(--neutral-white);
    border-radius: 15px;
    display: grid;
    position: relative;
}

.cover img {
    border-radius: 15px 15px 0 0;
}

/*Image users*/
.image-users {
    position: absolute;
    left: 120px;
    top: 90px;
}

.image-users img {
    border-radius: 50%;
    border: solid 5px var(--neutral-white); 
}

/*Users*/
.users {
    border-bottom: solid 1px var(--neutral-dark-gray);
    display: grid;
    gap: 10px;
    padding: 70px 0 20px 0 ;
}

.users-name {
    font-weight: 700;
}

.users-name span {
    color: var(--neutral-dark-gray);
    font-weight: 400;
    margin-left: 5px;
}

.users p:last-child {
    color: var(--neutral-dark-gray);
    font-size: 1rem;
}

/*Numbers*/
.numbers {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
    padding: 20px;
}

.numbers p {
    font-weight: 700;    
}

.numbers span {
    color: var(--neutral-dark-gray);
    font-size: .9375rem;
}

/*Footer*/

.attribution {
    font-size: .6875rem; 
    margin-top: 30px;
    text-align: center; 
}

.attribution a {
    color: var(--neutral-link); 
}